*.md text eol=lf
*.html text eol=lf
*.css text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.cff text eol=lf
*.csv text eol=lf
*.py text eol=lf
*.pdf binary
*.docx binary
*.png binary
*.jpg binary
*.jpeg binary
*.zip binary